@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* common css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

a,li{
    list-style: none;
    text-decoration: none;
}

:root{
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --blue:#5D58EF;
    --voilet: #8700FF;
    --orcn:#05D4DF;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    gap: 10px;
}
.primary-button{
    font-size: 1rem;
    font-weight: 700;
    list-style: 1.5rem;
    text-align: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    transition: all linear 0.3s;
    border: none;
    cursor: pointer;
}
.primary-button:hover{
    background-color: var(--orange);
}

/* common css style */

/* Navbar section style start... */
.navbar_item{
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
  
    align-items: center;
}
.nav_logo > p{
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.navbar_item >ul{
    display: flex;
    align-items: center;
}

.navbar_item > ul> li{
    margin: 0 0px 0px 30px;
    
}
.navbar_item > ul> li>a{
    font-size: 1.4rem;
    font-weight: 700;
    list-style: 1.5rem;
}
.menu_icon{
    display: none;
}
.nav_btn >a{
    font-size: 1.4rem;
    font-weight: 700;
    list-style: 1.5rem;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 10px;
    transition: all linear 0.3s ;
}
.nav_btn >a:hover{
    background-color: var(--blue);

    
}
.navbar_item > ul>:nth-child(1)>a{
    color: var(--orange);
}
.navbar_item > ul>:nth-child(2)>a{
    color: var(--sky-blue);
}
.navbar_item > ul>:nth-child(3)>a{
    color: var(--orcn);
}
.navbar_item > ul>:nth-child(4)>a{
    color: var(--blue);
}


/* Navbar section style end... */
/* ...................... */
/* banner_part section style start... */

.banner_part{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.banner_text >h1{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 500;
    margin: 20px 0px ;
    
}
.Empowering{
    color: var(--orange);
}
.vision{
    color: var(--sky-blue);
}
.banner_text > p{
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin: 10px 0px 20px 0px;
}
.banner_imgaes img{
    width: 100%;
    height: auto;
}
#marquee_text{
    animation: color-change 2s infinite;
    font-size: 2rem;
}
@keyframes color-change{
    0% {
        color: var(--blue);
    }
    25% {
        color: var(--orange);
    }
    50% {
        color: var(--orcn);
    }
    75% {
        color: var(--sky-blue);
    }
    100% {
        color: var(--voilet);
    }
}



/* banner_part section style end... */

/* crriculum section style start... */

#crriculum{
    background-image: url(../assets/bg.png);
    margin: 50px 0px;
    
}
.crriculum_heading > h2{
    text-align: center;
    margin-bottom: 5rem ;
    font-size: 2.4rem;
    font-weight: 700;
}
.crriculam_card_section{
    gap: 20px;
}
.crriculam_card{
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    box-shadow: 2px -4px 44px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.crriculam_card >h4{
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 700;
   
}
.crriculam_card >p{
   font-size: 1rem;
   
   font-weight: 400;
   
}
.crriculam_card >a{
    font-size: 1rem;
   font-weight: 400;
   padding: 0px 0px 10px 0px;
   
}
.crriculam_card_section .crriculam_card:nth-child(1){
   background: linear-gradient(#DEF5FF, #fff);
}

.crriculam_card_section .crriculam_card:nth-child(2){
   background: linear-gradient(#FFF4DC, #fff);
}
.crriculam_card_section .crriculam_card:nth-child(3){
   background: linear-gradient(#F2E8FF, #fff);
}
.crriculam_card_section .crriculam_card:nth-child(1)>a{
    color: var(--sky-blue);
 }
 .crriculam_card_section .crriculam_card:nth-child(2)>a{
    color: var(--orange);
 }
 .crriculam_card_section .crriculam_card:nth-child(3)>a{
    color: var(--voilet);
 }



 .slider_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0px;
 }
/* crriculum section style end... */


/* stories section style start... */
#stories{
    background:  url(../assets/bg.png) ,linear-gradient(#ffffff, rgba(254, 161, 1, 0.286));
    padding: 20px;
   
    
   
}
.stories_heading{
    font-size: 2rem;
    font-weight: 600;
    margin: 60px 0px;
    text-align: center;
}
.stories_card_section{
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 10px;
    padding: 50px 0px;
}
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }

.stories_card{
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
     
}
.stories_card> img{
    width: 100%;
    border-radius: 10px;
  
}

.stories_card_section .stories_card:nth-child(2) > h4,
.stories_card_section .stories_card:nth-child(3) > h4,
.stories_card_section .stories_card:nth-child(4) > h4,
.stories_card_section .stories_card:nth-child(5) > h4 {
    font-size: 1rem;
    margin: 30px 10px;
}

.stories_card_section .stories_card .date:nth-child(2) > p,
.stories_card_section .stories_card .date:nth-child(3) > p,
.stories_card_section .stories_card .date:nth-child(4) > p,
.stories_card_section .stories_card .date:nth-child(5) > p {
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #95B226;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 158px;
    left: 35px;
}

.stories_card_1{
    position: relative;
}
.stories_card_1 > .date-1 > p{
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: var(--sky-blue);
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 338px;
    left: 35px
}
.stories_card_1 >h4{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 30px 20px;
}
.stories_card_1 >p{
    font-size: 1rem;
    margin: 20px;
}
.stories_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px  0px;
}







/* Navbar section style start... */
/* Navbar section style start... */

/* responsive style start... */

@media screen and (max-width: 576px) {
    .navbar_item > ul {
        display: none;
    }
    .navbar{
        padding: 0px 10px;
    }
    .nav_logo > p{
        display: none;
    }
    .navbar_btn{
        display: none;
    }
    .menu_icon{
        display: block;
    }
    .banner_part{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px 10px;
        
    }
    .banner_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner_text >h1{
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
    }
    .banner_text >p{
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
    }

    #crriculum > .container{
        padding: 0px 10px;
    }
    .crriculam_card_section{
        flex-direction: column;
    }
    .slider_button{
        display: none;
    }
    .stories_card_section {
        grid-template-columns: 1fr 1fr; /* 2 columns */
    }

    .div1 { 
        display: none; /* Hide div1 on smaller screens */
    }

    .div2 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .div3 { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    .div4 { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .div5 { 
        grid-area: 2 / 2 / 3 / 3; 
    }
    .stories_card_section .stories_card .date:nth-child(2) > p,
    .stories_card_section .stories_card .date:nth-child(3) > p,
    .stories_card_section .stories_card .date:nth-child(4) > p,
    .stories_card_section .stories_card .date:nth-child(5) > p {
        
        top: 124px;
        left: 35px;
        font-size: 0.7rem;
    }
   
}
   

